/Bias
/Bias.csv
/BiasedMF-ALS
/BiasedMF-ALS.csv
/HPF
/HPF.csv
/IKNN-Explicit
/IKNN-Explicit.csv
/IKNN-Implicit
/IKNN-Implicit.csv
/Implicit-BPR
/Implicit-BPR.csv
/ImplicitMF-ALS
/ImplicitMF-ALS.csv
/Popular
/Popular.csv
/UKNN-Explicit
/UKNN-Explicit.csv
/UKNN-Implicit
/UKNN-Implicit.csv
