/All_Beauty.csv.zst
/all_csv_files.csv.zst
/AMAZON_FASHION.csv.zst
/Appliances.csv.zst
/Arts_Crafts_and_Sewing.csv.zst
/Automotive.csv.zst
/Books.csv.zst
/CDs_and_Vinyl.csv.zst
/Cell_Phones_and_Accessories.csv.zst
/Clothing_Shoes_and_Jewelry.csv.zst
/Digital_Music.csv.zst
/Electronics.csv.zst
/Gift_Cards.csv.zst
/Grocery_and_Gourmet_Food.csv.zst
/Home_and_Kitchen.csv.zst
/Industrial_and_Scientific.csv.zst
/Kindle_Store.csv.zst
/Luxury_Beauty.csv.zst
/Magazine_Subscriptions.csv.zst
/Movies_and_TV.csv.zst
/Musical_Instruments.csv.zst
/Office_Products.csv.zst
/Patio_Lawn_and_Garden.csv.zst
/Pet_Supplies.csv.zst
/Prime_Pantry.csv.zst
/Software.csv.zst
/Sports_and_Outdoors.csv.zst
/Tools_and_Home_Improvement.csv.zst
/Toys_and_Games.csv.zst
/Video_Games.csv.zst
