*.out
*.log
*.prof
*.lprof
perf.data*
rmm_log.txt

.pytest_cache/
__pycache__/
*venv/
.pixi/
/build/
/dist/
*.egg-info/

*.wal
.ipynb_checkpoints/
.jupyter_cache/
*.quarto_ipynb
/.quarto/
/_site/
/site_*/
*_files/
*.ipynb
*.html
*.html.md
.RData
.Rhistory

*.duckdb
*.wal-log
*.parquet

/scratch/

# Local Netlify folder
.netlify
