*.duckdb
*.egg-info/
*.html
*.html.md
*.log
*.lprof
*.out
*.parquet
*.prof
*.quarto_ipynb
*.wal
*.wal-log
*_files/
*venv/
*.local.toml
.RData
.Rhistory
.ipynb_checkpoints/
.jupyter_cache/
.netlify
.pixi/
.pytest_cache/
.ruff_cache/
/.quarto/
/_book/
/_site/
/_static/
/build/
/dist/
/site_*/
__pycache__/
perf.data*
rmm_log.txt
scratch/
