# Data files
*.duckdb
*.parquet
*.wal
*.wal-log
.RData
.Rhistory

# Quarto outputs
/.quarto/
/_book/
/_site/
/_static/
/build/
/dist/
/site_*/

# local files
*.local.lock
*.local.toml

# caches
.ipynb_checkpoints/
.jupyter_cache/
.pytest_cache/
.ruff_cache/
__pycache__/

# logs
perf.data*
rmm_log.txt

# intermediate outputs
*.egg-info/
*_files/
*.quarto_ipynb
*.log
*.lprof
*.out
*.prof
*.html
*.html.md

# software environments
*venv/
.pixi/*
!.pixi/config.toml

# working directories
scratch/
