/*-- scss:rules --*/
.quarto-figure:has(img.float) {
    float: right;
}

.cell-output .figure-img {
    width: 100%;
    height: auto;
}

.cell-output table {
    font-size: 0.9rem;
}

.cell-output td.data {
    text-align: right;
    padding: 0 3pt;
}
.cell-output td.row_heading {
    padding: 0 1em 0 0;
}
.cell-output th.col_heading {
    text-align: right;
    padding: 0 3pt;
}
.cell-output th.col_heading[colspan] {
    text-align: center;
}
