@import url(https://fonts.bunny.net/css?family=alegreya-sans:100i,400,400i|fira-code:300,400,500,700);

.figure-img {
    width: 100%;
    height: auto;
}

.cell-output td.data {
    text-align: right;
    padding: 0 3pt;
}
.cell-output td.row_heading {
    padding: 0 1em 0 0;
}
.cell-output th.col_heading {
    text-align: right;
    padding: 0 3pt;
}
.cell-output th.col_heading[colspan] {
    text-align: center;
}
