/als-biased-default
/als-implicit-default
/bias-default
/flexmf-bpr-default
/flexmf-explicit-default
/flexmf-logistic-default
/iknn-explicit-default
/iknn-implicit-default
/popular-default
/slim-fs-default
/als-implicit-optuna-tuned
/flexmf-bpr-optuna-tuned
/flexmf-logistic-optuna-tuned
/iknn-implicit-optuna-tuned
/slim-default
/slim-optuna-tuned
/slim-fs-optuna-tuned
