/als-biased-default
/als-biased-optuna-best
/als-implicit-default
/als-implicit-optuna-best
/bias-default
/bias-optuna-best
/default.run.gz
/ease-default
/ease-optuna-best
/flexmf-bpr-default
/flexmf-bpr-optuna-best
/flexmf-explicit-default
/flexmf-explicit-optuna-best
/flexmf-logistic-default
/flexmf-logistic-optuna-best
/flexmf-warp-default
/flexmf-warp-optuna-best
/lightgcn-bpr-default
/lightgcn-logistic-default
/popular-default
/iknn-explicit-default
/iknn-implicit-default
/slim-fs-default
