/bias-default
/bias-random-best
/iknn-implicit-random-best
/iknn-explicit-default
/iknn-implicit-default
/popular-default
/iknn-explicit-random-best
/implicit-bpr-default
/implicit-bpr-random-best
/uknn-implicit-default
/uknn-explicit-default
/uknn-explicit-random-best
/uknn-implicit-random-best
/als-biased-random-best
/als-biased-default
/als-implicit-random-best
/als-implicit-default
/flexmf-explicit-default
/flexmf-explicit-random-best
