/als-biased-default
/als-biased-hyperopt-best
/als-biased-random-best
/als-implicit-default
/als-implicit-hyperopt-best
/als-implicit-random-best
/bias-default
/bias-hyperopt-best
/bias-random-best
/flexmf-bpr-default
/flexmf-bpr-hyperopt-best
/flexmf-bpr-random-best
/flexmf-explicit-default
/flexmf-explicit-hyperopt-best
/flexmf-explicit-random-best
/flexmf-logistic-default
/flexmf-logistic-hyperopt-best
/flexmf-logistic-random-best
/iknn-explicit-default
/iknn-explicit-hyperopt-best
/iknn-explicit-random-best
/iknn-implicit-default
/iknn-implicit-hyperopt-best
/iknn-implicit-random-best
/implicit-bpr-default
/implicit-bpr-hyperopt-best
/implicit-bpr-random-best
/popular-default
/uknn-explicit-default
/uknn-explicit-hyperopt-best
/uknn-explicit-random-best
/uknn-implicit-default
/uknn-implicit-hyperopt-best
/uknn-implicit-random-best
