/Bias.json
/Popular.json
/IKNN-Explicit.json
/IKNN-Implicit.json
/ImplicitMF-ALS.json
/BiasedMF-ALS.json
/Bias
/Popular
/IKNN-Explicit
/IKNN-Implicit
/UKNN-Explicit
/UKNN-Implicit
/ImplicitMF-ALS
/BiasedMF-ALS
/Implicit-BPR
/HPF
