/All_Beauty.test.csv.gz
/All_Beauty.train.csv.gz
/All_Beauty.valid.csv.gz
/Arts_Crafts_and_Sewing.test.csv.gz
/Arts_Crafts_and_Sewing.train.csv.gz
/Arts_Crafts_and_Sewing.valid.csv.gz
/Automotive.test.csv.gz
/Automotive.train.csv.gz
/Automotive.valid.csv.gz
/Baby_Products.test.csv.gz
/Baby_Products.train.csv.gz
/Baby_Products.valid.csv.gz
/Beauty_and_Personal_Care.test.csv.gz
/Beauty_and_Personal_Care.train.csv.gz
/Beauty_and_Personal_Care.valid.csv.gz
/Books.test.csv.gz
/Books.train.csv.gz
/Books.valid.csv.gz
/CDs_and_Vinyl.test.csv.gz
/CDs_and_Vinyl.train.csv.gz
/CDs_and_Vinyl.valid.csv.gz
/Cell_Phones_and_Accessories.test.csv.gz
/Cell_Phones_and_Accessories.train.csv.gz
/Cell_Phones_and_Accessories.valid.csv.gz
/Clothing_Shoes_and_Jewelry.test.csv.gz
/Clothing_Shoes_and_Jewelry.train.csv.gz
/Clothing_Shoes_and_Jewelry.valid.csv.gz
/Electronics.test.csv.gz
/Electronics.train.csv.gz
/Electronics.valid.csv.gz
/Gift_Cards.test.csv.gz
/Gift_Cards.train.csv.gz
/Gift_Cards.valid.csv.gz
/Grocery_and_Gourmet_Food.test.csv.gz
/Grocery_and_Gourmet_Food.train.csv.gz
/Grocery_and_Gourmet_Food.valid.csv.gz
/Health_and_Household.test.csv.gz
/Health_and_Household.train.csv.gz
/Health_and_Household.valid.csv.gz
/Home_and_Kitchen.test.csv.gz
/Home_and_Kitchen.train.csv.gz
/Home_and_Kitchen.valid.csv.gz
/Industrial_and_Scientific.test.csv.gz
/Industrial_and_Scientific.train.csv.gz
/Industrial_and_Scientific.valid.csv.gz
/Kindle_Store.test.csv.gz
/Kindle_Store.train.csv.gz
/Kindle_Store.valid.csv.gz
/Magazine_Subscriptions.test.csv.gz
/Magazine_Subscriptions.train.csv.gz
/Magazine_Subscriptions.valid.csv.gz
/Movies_and_TV.test.csv.gz
/Movies_and_TV.train.csv.gz
/Movies_and_TV.valid.csv.gz
/Musical_Instruments.test.csv.gz
/Musical_Instruments.train.csv.gz
/Musical_Instruments.valid.csv.gz
/Office_Products.test.csv.gz
/Office_Products.train.csv.gz
/Office_Products.valid.csv.gz
/Patio_Lawn_and_Garden.test.csv.gz
/Patio_Lawn_and_Garden.train.csv.gz
/Patio_Lawn_and_Garden.valid.csv.gz
/Pet_Supplies.test.csv.gz
/Pet_Supplies.train.csv.gz
/Pet_Supplies.valid.csv.gz
/Software.test.csv.gz
/Software.train.csv.gz
/Software.valid.csv.gz
/Sports_and_Outdoors.test.csv.gz
/Sports_and_Outdoors.train.csv.gz
/Sports_and_Outdoors.valid.csv.gz
/Tools_and_Home_Improvement.test.csv.gz
/Tools_and_Home_Improvement.train.csv.gz
/Tools_and_Home_Improvement.valid.csv.gz
/Toys_and_Games.test.csv.gz
/Toys_and_Games.train.csv.gz
/Toys_and_Games.valid.csv.gz
/Unknown.test.csv.gz
/Unknown.train.csv.gz
/Unknown.valid.csv.gz
/Video_Games.test.csv.gz
/Video_Games.train.csv.gz
/Video_Games.valid.csv.gz
/Software.test.qrels.gz
/Automotive.test.qrels.gz
/Baby_Products.test.qrels.gz
/Cell_Phones_and_Accessories.test.qrels.gz
/Toys_and_Games.test.qrels.gz
/Sports_and_Outdoors.test.qrels.gz
/Patio_Lawn_and_Garden.test.qrels.gz
/Arts_Crafts_and_Sewing.test.qrels.gz
/Grocery_and_Gourmet_Food.test.qrels.gz
/Musical_Instruments.test.qrels.gz
/Health_and_Household.test.qrels.gz
/Home_and_Kitchen.test.qrels.gz
/Industrial_and_Scientific.test.qrels.gz
/Office_Products.test.qrels.gz
/Tools_and_Home_Improvement.test.qrels.gz
/Pet_Supplies.test.qrels.gz
/Books.test.qrels.gz
/Beauty_and_Personal_Care.test.qrels.gz
/Movies_and_TV.test.qrels.gz
/Clothing_Shoes_and_Jewelry.test.qrels.gz
/CDs_and_Vinyl.test.qrels.gz
/Electronics.test.qrels.gz
/Video_Games.test.qrels.gz
/Kindle_Store.test.qrels.gz
/Arts_Crafts_and_Sewing.valid.qrels.gz
/Health_and_Household.valid.qrels.gz
/Tools_and_Home_Improvement.valid.qrels.gz
/Kindle_Store.valid.qrels.gz
/Video_Games.valid.qrels.gz
/Electronics.valid.qrels.gz
/Movies_and_TV.valid.qrels.gz
/Beauty_and_Personal_Care.valid.qrels.gz
/Grocery_and_Gourmet_Food.valid.qrels.gz
/Sports_and_Outdoors.valid.qrels.gz
/Software.valid.qrels.gz
/Home_and_Kitchen.valid.qrels.gz
/Industrial_and_Scientific.valid.qrels.gz
/Books.valid.qrels.gz
/Pet_Supplies.valid.qrels.gz
/Baby_Products.valid.qrels.gz
/CDs_and_Vinyl.valid.qrels.gz
/Office_Products.valid.qrels.gz
/Clothing_Shoes_and_Jewelry.valid.qrels.gz
/Musical_Instruments.valid.qrels.gz
/Cell_Phones_and_Accessories.valid.qrels.gz
/Automotive.valid.qrels.gz
/Patio_Lawn_and_Garden.valid.qrels.gz
/Toys_and_Games.valid.qrels.gz
