/als-biased-default
/als-biased-optuna-best
/als-biased-random-best
/als-implicit-default
/als-implicit-optuna-best
/als-implicit-random-best
/bias-default
/bias-optuna-best
/bias-random-best
/flexmf-bpr-default
/flexmf-bpr-optuna-best
/flexmf-bpr-random-best
/flexmf-explicit-default
/flexmf-explicit-optuna-best
/flexmf-explicit-random-best
/flexmf-logistic-default
/flexmf-logistic-optuna-best
/flexmf-logistic-random-best
/flexmf-warp-default
/flexmf-warp-optuna-best
/flexmf-warp-random-best
/iknn-explicit-default
/iknn-explicit-optuna-best
/iknn-explicit-random-best
/iknn-implicit-default
/iknn-implicit-optuna-best
/iknn-implicit-random-best
/implicit-bpr-default
/implicit-bpr-random-best
/popular-default
