/Bias-grid
/Bias-grid.csv
/Bias-random
/BiasedMF-ALS-grid
/BiasedMF-ALS-grid.csv
/BiasedMF-ALS-random
/HPF-grid
/HPF-grid.csv
/IKNN-Explicit-grid
/IKNN-Explicit-grid.csv
/IKNN-Explicit-random
/IKNN-Implicit-grid
/IKNN-Implicit-grid.csv
/IKNN-Implicit-random
/Implicit-BPR-grid
/Implicit-BPR-grid.csv
/ImplicitMF-ALS-grid
/ImplicitMF-ALS-grid.csv
/ImplicitMF-ALS-random
/Popular-grid
/Popular-grid.csv
/UKNN-Explicit-grid
/UKNN-Explicit-grid.csv
/UKNN-Implicit-grid
/UKNN-Implicit-grid.csv
/als-biased-hyperopt
/als-biased-optuna
/als-biased-random
/als-implicit-hyperopt
/als-implicit-optuna
/als-implicit-random
/bias-hyperopt
/bias-optuna
/bias-random
/flexmf-bpr-hyperopt
/flexmf-bpr-optuna
/flexmf-bpr-random
/flexmf-explicit-hyperopt
/flexmf-explicit-optuna
/flexmf-explicit-random
/flexmf-logistic-hyperopt
/flexmf-logistic-optuna
/flexmf-logistic-random
/iknn-explicit-hyperopt
/iknn-explicit-optuna
/iknn-explicit-random
/iknn-implicit-hyperopt
/iknn-implicit-optuna
/iknn-implicit-random
/implicit-bpr-hyperopt
/implicit-bpr-optuna
/implicit-bpr-random
/uknn-explicit-hyperopt
/uknn-explicit-optuna
/uknn-explicit-random
/uknn-implicit-hyperopt
/uknn-implicit-optuna
/uknn-implicit-random
